@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --primary-color: #161853;
    --light-navy: #292C6D;
    --creame-color: #FAEDF0;
    --candy-red: #EC255A;
    --creame-color-lg: #FBF2F4;
}

body {
    font-family: 'Manrope',
        sans-serif;
    background-color: var(--creame-color);
    margin: 0px;
}

hr {
    margin: 2rem 0;
}

/* Container */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--creame-color);
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: var(--creame-color);
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 2rem;
    border: 1px solid var(--primary-color)
}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* NAV */

.navigation {
    background-color: var(--primary-color);
    color: var(--creame-color);
    padding: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.navigation .link {
    color: var(--creame-color);
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--creame-color);
}

.navigation .link-active {
    font-weight: bold;
    color: var(--candy-red)
}

/* Header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero-heading {
    font-size: 2.5rem;
    color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--candy-red);
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--creame-color-lg);
}

/* footer */

.footer {
    background-color: var(--candy-red);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 8rem;
    border-top-left-radius: 8rem;
    color: var(--creame-color);
}

.footer ul {
    padding-inline-start: 0px;
}