@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --primary-color: #161853;
}

body {
    font-family: 'Manrope',
        sans-serif;
}

hr {
    margin: 2rem 0;
}

/* Container */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: #FAEDF0;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* NAV */

.navigation {
    background-color: var(--primary-color);
    color: #FAEDF0;
    padding: 1rem;
    border-radius: 2rem;
}

.navigation .link {
    color: #FAEDF0;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.3rem;
}

.navigation .link-active {
    font-weight: bold;
}